{% extends 'app1/parts/base.html' %}
{% load static %}
{% block main_content %}
    <div class="no-pd" id="content">
        <div class="container">
              <div class="breadcrumb">
                <ul>
                  <li><a href="index.html"> <i class="fas fa-home"></i>Home</a></li>
                  <li class="active"><a href="#">Contact us</a></li>
                </ul>
              </div>
          <div class="contact-us">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="contact-us__info">
                  <h3 class="contact-title">GET IN TOUCH</h3>
                  <p class="contact-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                  <div class="contact-method">
                    <div class="contact-method__item"><i class="fas fa-map-marker-alt"></i>
                      <p>{{ about.address }}</p>
                    </div>
                    <div class="contact-method__item"><i class="fas fa-mobile-alt"></i>
                      <p>{{ about.phone_number }}</p>
                    </div>
                    <div class="contact-method__item"><i class="far fa-envelope-open"></i></i>
                      <p>{{ about.email }}</p>
                    </div>
                  </div>
                </div>
                <div class="contact-us__social">
                  <h3 class="contact-title">GET IN TOUCH</h3>
                  <div class="social-block"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-dribbble"></i></a></div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="contact-us__form">
                  <h3 class="contact-title">LEAVE A MESSAGE</h3>
                  <form action="/">
                    <input type="text" placeholder="Name" name="name"/>
                    <input type="email" placeholder="Email" name="email"/>
                    <input type="text" placeholder="Website" name="website"/>
                    <textarea name="message" cols="30" rows="8" placeholder="Message"></textarea>
                    <button class="btn -normal">Send message</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="subcribe-bar">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="subcribe-bar__content">
                  <h5>Don’t miss our future updates!</h5>
                  <h3>Get Subscribe today!</h3>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <form class="subcribe-bar__form" action="/">
                  <input type="text" placeholder="You email"/>
                  <button class="btn -normal">Subcribe  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}