{% extends "app1/login.html" %}
{% block form %}
    {% if validlink %}
        <div class="login100-form validate-form">
					<span class="login100-form-title">
						Reset your password
					</span>
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            <label class="small mb-1" for="id_new_password1">New Password</label>
                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="password" name="new_password1"
                                       placeholder="Enter password">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
                            </div>
                        </div>
                            <div class="form-group">
                                <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
                                <div class="wrap-input100 validate-input">
                                <input class="input100" type="password" name="new_password2"
                                       placeholder="Confirm password">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
</span></div>
                        <div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							SAVE
						</button>
                        </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="alert alert-warning">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </div>
    {% endif %}
{% endblock %}