{% extends 'app1/parts/base.html' %}
{% load static %}
{% block main_content %}
    <div class="container">
        <main>
            <form method="post" action="{% url 'profile_view' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row g-5">
                    <div class="col-md-5 col-lg-4">
                        <div class="py-5 text-center">
                            <img class="d-block mx-auto mb-4" src="{{ request.user.photo.url }}" alt="" width="200">
                            <input class="form-control form-control-sm" name="photo" type="file"
                                   value="{{ request.user.photo }}"
                                   style="width: 60%;margin: auto">
                            {#                            <input class="form-control" type="text" name="id" value="{{ request.user.id }}">#}
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <div class="row g-3">
                            {{ form.errors }}
                            <div class="col-sm-6">
                                <label class="form-label">First name</label>
                                <input type="text" class="form-control" name="first_name"
                                       value="{{ request.user.first_name }}">
                            </div>

                            <div class="col-sm-6">
                                <label class="form-label">Last name</label>
                                <input type="text" class="form-control" name="last_name"
                                       value="{{ request.user.last_name }}">
                            </div>

                            <div class="col-12">
                                <label class="form-label">Username</label>
                                <div class="input-group">
                                    <span class="input-group-text">@</span>
                                    <input type="text" class="form-control" name="username"
                                           value="{{ request.user.username }}">
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Bio</label>
                                <textarea name="bio" class="form-control">{{ request.user.bio }}</textarea>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" value="{{ request.user.email }}">
                            </div>
                            <div class="col-12">
                                <label class="form-label">Phone Number</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="phone_number"
                                           value="{{ request.user.phone_number }}">
                                </div>
                            </div>

                            <div class="col-12">
                                <label class="form-label">Gender</label>
                                <select class="form-select" name="gender">
                                    <option>------</option>
                                    <option value="male" {% if request.user.gender == 'male' %}selected{% endif %}>
                                        Male
                                    </option>
                                    <option value="female" {% if request.user.gender == 'female' %}selected{% endif %}>
                                        Female
                                    </option>
                                </select>
                            </div>
                            <input class="w-100 btn btn-primary btn-lg" type="submit" value="SAVE">
                        </div>
                    </div>
                </div>
            </form>
            <div class="row g-5">
                <div class="col-md-5 col-lg-4"></div>
                <div class="col-md-7 col-lg-8">
                    {#                    <form method="post">#}
                    <div class="row g-3">
                        <hr class="my-4">
                        <h1 class="col-12" style="font-size: 20px">Change Password</h1>
                        <div class="col-12">
                            <label class="form-label">Current Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="col-12">
                            <label class="form-label">New Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <div class="col-12">
                            <label class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control">
                        </div>
                        <input class="w-100 btn btn-primary btn-lg" type="submit" value="SAVE">
                    </div>
                    {#                    </form>#}
                </div>
            </div>
        </main>
    </div>
{% endblock %}