{% extends 'app1/parts/base.html' %}
{% load static %}
{% block main_content %}
    <div class="container">
        <main>
            <form method="post" action="{% url 'profile_view' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row g-5">
                    <div class="col-md-5 col-lg-4">
                        <div class="py-5 text-center">
                            <img class="d-block mx-auto mb-4" src="{{ user.photo.url }}" alt="" width="200"
                                 style="border-radius: 20px">
                            <input class="form-control form-control-sm" name="photo" type="file"
                                   value="{{ user.photo }}"
                                   style="width: 60%;margin: auto">
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <div class="row g-3">
                            {{ form.errors }}
                            <div class="col-sm-6">
                                <label class="form-label">First name</label>
                                <label class="input-group">
                                    <input type="text" class="form-control" name="first_name"
                                           value="{{ user.first_name }}">
                                </label>
                            </div>

                            <div class="col-sm-6">
                                <label class="form-label">Last name</label>
                                <label class="input-group">
                                    <input type="text" class="form-control" name="last_name"
                                           value="{{ user.last_name }}">
                                </label>
                            </div>

                            <div class="col-12">
                                <label class="form-label">Username</label>
                                <label class="input-group">
                                    <span class="input-group-text">@</span>
                                    <input type="text" class="form-control" name="username"
                                           value="{{ user.username }}">
                                </label>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Bio</label>
                                <label class="input-group">
                                    <textarea name="bio" class="form-control">{{ user.bio }}</textarea>
                                </label>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Email</label>
                                <label class="input-group">
                                    <input type="email" class="form-control" name="email" value="{{ user.email }}" disabled>
                                </label>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Phone Number</label>
                                <div class="input-group">
                                    <label class="input-group">
                                        <input type="tel" data-phonemask="+998 (__)___-__-__"
                                               class="masked-phone form-control" name="phone_number"
                                               value="{{ user.phone_number }}">
                                    </label>
                                </div>
                            </div>

                            <div class="col-12">
                                <label class="form-label">Gender</label>
                                <label class="input-group">
                                    <select class="form-select" name="gender">
                                        <option>------</option>
                                        <option value="male" {% if user.gender == 'male' %}selected{% endif %}>
                                            Male
                                        </option>
                                        <option value="female" {% if user.gender == 'female' %}selected{% endif %}>
                                            Female
                                        </option>
                                    </select>
                                </label>
                            </div>
                            <input class="w-100 btn btn-primary btn-lg" type="submit" value="SAVE">
                        </div>
                    </div>
                </div>
            </form>
            <div class="row g-5">
                <div class="col-md-5 col-lg-4"></div>
                <div class="col-md-7 col-lg-8">
                    <form method="post" action="{% url "change_password" %}">
                        {% csrf_token %}
                        <div class="row g-3">
                            <hr class="my-4">
                            {% if error %}
                            <p style="border: {{ color }} solid 2px; color: {{ color }}; padding: 15px; border-radius: 5px;">{{ error }}</p>
                            {% endif %}
                            <h1 class="col-12" style="font-size: 20px">Change Password</h1>
                            <div class="col-12">
                                <label class="form-label">Current Password</label>
                                <label class="input-group">
                                    <input type="password" class="form-control" name="password">
                                </label>
                            </div>
                            <div class="col-12">
                                <label class="form-label">New Password</label>
                                <label class="input-group">
                                    <input type="password" class="form-control" name="new_password">
                                </label>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Confirm New Password</label>
                                <label class="input-group">
                                    <input type="password" class="form-control" name="confirm_password">
                                </label>
                            </div>
                            <input class="w-100 btn btn-primary btn-lg" type="submit" value="SAVE">
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}