{% extends 'app1/login.html' %}
{% block form %}
    <form method="post" class="login100-form validate-form">
                    {% csrf_token %}
					<span class="login100-form-title">
						RESET PASSWORD
					</span>

					<div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="email" placeholder="Your Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Continue
						</button>
					</div>
    </form>
{% endblock %}