{% load static %}
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"/>
<link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css"/>
<link rel="shortcut icon" type="image/png" href="{% static 'app1/assets/images/favicon.png' %}"/>
<link rel="stylesheet" href="{% static 'app1/assets/css/elegant.css' %}"/>
<link rel="stylesheet" href="{% static 'app1/assets/css/custom_bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'app1/assets/css/slick.css' %}"/>
<link rel="stylesheet" href="{% static 'app1/assets/css/plyr.min.css' %}"/>
<link rel="stylesheet" href="{% static 'app1/assets/css/style.css' %}"/>